/*OVERALL PAGE*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    fill: #242424;
    color: navy;
    text-align: justify;
    /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
    cursor: default;
    margin: 10vh;
}

h1 {
    font-family: 'Raleway';
    font-size: x-large;
}

#subtitle {
    background-color: none;
}

h2, title {

    background-color: #ffe1b393;
    border-radius: 8px;

}

h2 {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.801), 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

#title{
    background-color: #ffe1b393;
    border-radius: 8px;
    padding: 30px;
    color: navy;
}

.chartChunks{
    padding: 0px
}

.viz {
    margin-left: 0
    margin-right: 
    margin-top:
    margin-bottom:
}



/* CHART CHUNK #1: RADAR CHART */
.radarChartM,
    .radarChartF {
        display: inline-block;
        position: relative;
        max-height: 50vh;
        margin: 0;
        scale: 0.8;
    }

    .legend {
        font-family: sans-serif;
        fill: #333333;
    }

    .keybar {
        position: relative;
        margin-top: 10%;
        z-index: 2;
    }

    /* color key for radar chart */
        #one {
            background-color: #200ba3;

        }

        #two {
            background-color: #9da662;

        }

        #three {
            background-color: #75f0c3;

        }

        #four {
            background-color: #66263d;

        }

    .tooltip {
        fill: #333333;
    }

    /* CHART CHUNK #2: RADIAL BAR */

    .axis path,
    .axis line {
        fill: none;
        stroke: #482173;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

/* CHART CHUNK #3: WORD CLOUD AND LOLLIPOP */

.axis {
    /* stroke:#482173;
    stroke-width: 5; */
}