/*OVERALL PAGE*/

body {
    /* display: inline-block; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /* fill: #242424; */
    color: white;
    text-align: justify;
    cursor: default;
    margin: 10vh;
    margin-right: 10vw;
    overflow-x: hidden;
    align-content: center;
    background-color: rgb(122, 119, 119);
}

.pageBones{
    margin-top: 100px;
}

h1 {
    font-family: 'Raleway';
    font-size: 48pt;
    text-align: left;
}

#subtitle {
    background-color: none;
}

h2, title {
    /* background-color: #ffe1b393; */
    border-radius: 8px;
}

h2 {
    font-weight: bold;
    padding: 10px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: left;
    font-size: 26pt;
}

h3 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;

}


p {
    font-family: 'Open Sans';
    font-size: large;
}

.radarSegments  {
    display: inline-block;
}

#radarKeyM {
    margin-left: 23vw;
    position: sticky;
    width: 500px;

}


/* .radarSmallMultiples {
    position: fixed;
} */

#radarKeyY, #radarKeyO {
    /* width: 20vw; */
}

#maleRadarAll, #midRadarAll {
    margin-left: 3vw;
}


.keyImg {
    width: 400px;
    margin-left: 50px;
}

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* CHART CHUNK #2: RADIAL BAR */

#radialBar1 {
    float: left;
}

#radbarpara {
    /* float: right; */
    /* margin-top: 10px; */
    /* margin-left: 65vw; */
}

#radialBar2 {
    /* float: right; */
    position: relative;
    margin-top: 100px;
    margin-left: 20vw;

}

#radialKey2 {
    width: 315px;
    margin-left: 200px;
    margin-top: 40px;
    z-index: 4;
    /* margin: 30px; */
}

.paratext {
    display: block;
    position: relative;
    z-index: 1;
    margin: 30px;
    margin-left:40vw;
    margin-bottom: 200px;
}


/* CHART CHUNK #3: WORD CLOUD AND LOLLIPOP */


#cloud {
    overflow-x: hidden;
}

canvas {
    z-index: 5;
}


/* CHARTS GENERAL */

.x.axis path {
    display: none;
}

.axis path, .axis line {
    fill: none;
    stroke: #f8f8ff;
    shape-rendering: crispEdges;
}

    .axis {
        color: white;
    }

    .axisLabel {
        font-size: 14px;
        color: white;
    }
    
    tspan {
        font-size: 10px;
        font-weight: bold;
        color: white;
        opacity: 1;
    }

    svg {
        /* margin-left: 100px; */
    }